body {
    margin: 2rem;
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1rem;
}
.grid > div {
    background: black;
    padding: 1rem;
    display: grid;
    place-items: center;
}
.grid > div::before {
    content: "";
    display: block;
    padding-bottom: 100%;
    grid-area: 0.25;
}
.grid > div img {
    width: 100%;
    grid-area: 0.25;
}
